version: "3"
services:
  mogodb:
    container_name: mongodb-container
    image: mongo:latest
    restart: always
    networks:
      webnet:
        aliases:
        - mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 1234
    volumes:
      - mongodb_volume:/data/db
  mongo-express:
    container_name: mongodb-express-container
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    networks:
      webnet:
        aliases:
          - mongo-express
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: 1234
  mysql:
    container_name: mysql-container
    image: mysql:latest
    restart: always
    networks:
      webnet:
        aliases:
          - mysql
    environment:
      MYSQL_DATABASE: trainingdb
      MYSQL_USER: my_user
      MYSQL_PASSWORD: password1234
      MYSQL_ROOT_PASSWORD: admin1234
    volumes:
      - mysql_volume:/var/lib/mysql
  adminer:
    container_name: adminer-container
    image: adminer:latest
    restart: always
    ports:
      - 8080:8080
    networks:
      webnet:
        aliases:
          - adminer
  tomcat:
    container_name: tomcat-container
    image: tomcat:latest
    restart: always
    ports:
      - 80:8080
      - 8000:8000
    networks:
      webnet:
        aliases:
          - tomcat
    environment:
      JAVA_OPTS: -Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=8000
    volumes:
      - tomcat_volume:/usr/local/tomcat
      - ./tomcat/tomcat-users.xml:/usr/local/tomcat/conf/tomcat-users.xml
      - ./tomcat/startup.sh:/usr/local/tomcat/conf/tomcat-users.xml
volumes:
  mongodb_volume:
  mysql_volume:
  tomcat_volume:
networks:
  webnet:
